/*  */





.section_11_md{
    overflow:auto;
}
.section_11_md .modal-content{
    height:100% !important;
}

.section_11_md .modal-header{

    position:relative;
    z-index:5;

    height : 80px;
    background-color: rgb(246, 245, 245);
    border-bottom :0px;
    position:relative;


}
.section_11_md .modal-header>.title{
  font-size:.1.8rem;
  color : gray;
}


.section_11_md .modal-body{
    font-size:.9rem;
    /* border :1px solid red; */
    overflow:auto;
  

}
.section_11_md .modal-body table{}
.section_11_md .modal-body table input{
   
}
.section_11_md .modal-body table textarea{
    height : 100px;
    resize: none;
    margin : 15px 0px;
    padding : 10px;
}

.section_11_md .modal-body table textarea::placeholder{
    font-size:.9rem;
}


/*  */
.section_11_md .modal-body .utterances{
   

    font-size:0.8rem !important;
}
.utterances-frame{
    font-size:0.6rem;
}